.layout-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px; /* Espacio entre sidebar y contenido */
}

/* Sidebar */
app-side-bar {
  flex: 0 0 250px; /* Ancho fijo */
  min-height: 100vh; /* Opcional: para que se extienda como columna */
  background-color: #f1f1f1;
  border-right: 1px solid #ddd;
  padding: 1rem;
}

/* Contenido principal */
.main-content {
  flex: 1; /* Toma el resto del espacio */
  padding: 1rem;
}
